# Python
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Virtual environments
venv/
env/
*.egg-info/

# Static files
staticfiles/

# Local database
db.sqlite3

# Django logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# MacOS system files
.DS_Store

# Deployment files
*.pid
